@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
* {
    --navy-color: #1F2937;
    --gray-color: rgb(140, 139, 139);
    --off-white-color: #e5e7eb;
    font-family: "Roboto";
    --button-blue: #3882f6;
}
p {
    font-size: 0.9rem;
}
body {
    margin: 0;
}
header {
    display: flex;
    background-color: var(--navy-color);
    color: white;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
}
ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: var(--off-white-color);
    font-size: 0.9rem;
}
.hero {
    background-color: var(--navy-color);
    padding-top: 2rem;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex;
    padding-bottom: 3rem;
    gap: 2rem;
}
.hero-text {
    width: 50%;
    font-size: 4
}
.hero-text h1 {
    width: 60%;
    margin-bottom: 0;
    color: #f9faf8
}
.hero-text p{
    color: var(--off-white-color);
    margin-bottom: 0.5rem;
    margin-top: 0;
}
button {
    background-color: var(--button-blue);
    border: none;
    padding: 0.4rem 1.5rem;
    border-radius: 0.3rem;
    margin-top: 0;
    color: white;
}
.hero-img {
    background-color: var(--gray-color);
    padding: 4.5rem 3rem;
}
.hero-img p{
    color: var(--off-white-color);
}
.random-info {
    padding-bottom: 4rem;
}
.items {
    display: flex;
    justify-content: space-evenly;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;
}
.random-info h2{
    text-align: center;
    padding-top: 1rem;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    border: solid 0.2rem blue;
    width: 7rem;
    height: 7rem;
    border-radius: 10%;
}
.info p {
    width: 9rem;
    text-align: center;
    color: var(--gray-color);
    margin-top: 0.3rem;
}
.quote-box {
    background-color: var(--off-white-color);
    padding: 3rem 10rem;
}
#quote {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
}
#author {
    font-weight: 700;
    text-align: right;
}
.CTA {
    background-color: var(--button-blue);
    margin: 5rem 4rem;
    padding: 1rem 5rem;
    display: flex;
    color: white;
    border-radius: 2%;
    justify-content: space-between;
    align-items: center;
}
.cta-text h3{
    margin-bottom: 0;

}
.cta-text p {
    margin-top: 0.3rem;
    color: var(--off-white-color)
}
.CTA button {
    border: solid 0.1rem white;
    height: 10%;
}
footer {
    background-color: var(--navy-color);
    color: var(--off-white-color);
    padding: 1rem;
    text-align: center;
}

